---
layout: homepage-only
---


<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}

    
  <main class="page-content" aria-label="Content">
    <div class="blue">
      <div class="inner-wrapper">

        <header class="site-header" role="banner">
            <img src="/assets/logo.svg" alt="Adam Kopec">
        </header>
        
        <div class="intro">
          <h1>Adam Kopec—</h1>
          <h2>Designer & Creative Director</h2>
          <a class="learn-more">Learn more<span class="arrow">→</span></a>
        </div>
      
      </div>
    </div>
    <div class="project-bg">
      <div class="inner-wrapper">
        <div class="project panel-1">
          <h4>Design Director · <span>2015 - 2018</span></h4>
          <div class="title-container">
            <h3><span class="title">Hodinkee</span> — <span class="dek">Building the premiere lifestyle brand for watch collectors and luxury enthusiasts globally.</span></h3>
            <h5 class="number">1</h5>
          </div>

          <div class="slider">
            <div class="slide"><img src="/assets/hodinkee/h-1.jpg"/></div>
            <div class="slide"><img src="/assets/hodinkee/h-2.jpg"/></div>
            <div class="slide"><img src="/assets/hodinkee/h-3.jpg"/></div>
            <div class="slide"><img src="/assets/hodinkee/h-4.jpg"/></div>
          </div>

          <div class="info">
            <div class="col-1">
              <h4>Role</h4>
              <div class="roles">
                <h4><span>Creative Direction</span></h4>
                <h4><span>Digital Product Design</span></h4>
                <h4><span>Product Strategy</span></h4>
                <h4><span>Industrial/Print Design</span></h4>
              </div>
            </div>
            <div class="col-2">
              <h4>Overview</h4>
              <p>As Design Director, I managed and develop a team of designers and engineers to create compelling consumer-facing and internal web and iOS products for all three of our technology, editorial and commerce businesseses. Additionally, creative directed of our e-commerce product along with our industrial and print design efforts like limited edition watches, packaging and our bi-annual print publication, the Hodinkee magazine.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="project-bg">
    <div class="inner-wrapper">
      <div class="project panel-1">
        <h4>Design Director · <span>2015 - 2018</span></h4>
        <div class="title-container">
          <h3><span class="title">Hodinkee Shop</span> — <span class="dek">Building one of the first authorized retailers of luxury watches online.</span></h3>
          <h5 class="number">2</h5>
        </div>

        <div class="slider">
          <div class="slide"><img src="/assets/h-shop/shop-1.jpg"/></div>
          <div class="slide"><img src="/assets/h-shop/shop-2.jpg"/></div>
          <div class="slide"><img src="/assets/h-shop/shop-3.jpg"/></div>
          <div class="slide"><img src="/assets/h-shop/shop-4.jpg"/></div>
          <div class="slide"><img src="/assets/h-shop/shop-5.jpg"/></div>
          <div class="slide"><img src="/assets/h-shop/shop-6.jpg"/></div>

        </div>

        <div class="info">
          <div class="col-1">
            <h4>Role</h4>
            <div class="roles">
              <h4><span>Creative Direction</span></h4>
              <h4><span>Digital Product Design</span></h4>
              <h4><span>Business Strategy</span></h4>
              <h4><span>Print Design</span></h4>
              <h4><span>Watch Design</span></h4>
            </div>
          </div>
          <div class="col-2">
            <h4>Overview</h4>
            <p>In 2017, we decided invest in our e-commerce business and leveraged our relationships into becoming one of the first authorized retailers of watches online. As Design Director, I creative directed a team of photographers and art directors, to build out the creative assets for our store. I designed the entire web and iOS experience, along with led product strategy. I also helped develop our product packaging, several limited editions and various marketing materials.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="project-bg zoom-bg">
    <div class="inner-wrapper">
      <div class="project panel-3">
        <h4>Founder · <span>2016</span></h4>
        <div class="title-container">
          <h3><span class="title">Zoom, Enhance!</span> — <span class="dek">Pinch. Zoom. Repeat. Created incredibly addictive animated zooming gifs.</span></h3>
          <h5 class="number">3</h5>
        </div>

        <div class="slider">
          <div class="slide"><img src="/assets/enhance/z-1.jpg"/></div>
          <div class="slide"><img src="/assets/enhance/z-2.jpg"/></div>
        </div>

        <div class="info">
          <div class="col-1">
            <h4>Role</h4>
            <div class="roles">
              <h4><span>Co-Founder</span></h4>
              <h4><span>Product Designer</span></h4>
            </div>

            <h4>Demo</h4>
            <div class="roles">
              <h4><span>producthunt.com</span></h4>
            </div>

          </div>
          <div class="col-2">
            <h4>Overview</h4>
            <p>In 2017, we decided invest in our e-commerce business and leveraged our relationships into becoming one of the first authorized retailers of watches online. As Design Director, I creative directed a team of photographers and art directors, to build out the creative assets for our store. I designed the entire web and iOS experience, along with led product strategy. I also helped develop our product packaging, several limited editions and various marketing materials.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  </main>
</div>



  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@latest/slick/slick.min.js"></script>

  <script type="text/javascript">

    $(function(){
      $('.slider').slick({
        dots: true
      });

      document.getElementById('vid').play(); 

      var vid = document.getElementById("vid");
      vid.loop = true;

    });

    




  </script>

</div>

