---
layout: homepage-only
---


<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}

    
  <main class="page-content" aria-label="Content">
    <div class="blue">
      <div class="inner-wrapper">

        <header class="site-header" role="banner">
          <ul>
            <li class="home"><a href="/"><img class="logo" src="/assets/logo.svg" alt="Adam Kopec"></a></li>
            <li class=  "about right"><a href="/about">Info</a></li>
            <li class="work right"><a href="/">Work ↓</a></li>
          </ul>            
        </header>
        
        <div class="intro">
          <h1>Hi, I’m <a class="flavor" target="_blank" href="/about">Adam Kopec</a>, a product designer living in New York. I build products and empower teams to solve hard problems.</h1>
          <a class="learn-more" href="/about">Read my bio <span class="arrow">→</span></a>
        </div>

        <div class="select">Select work</div>

       
  
      </div>


    </div>
    

    <div class="project-bg">
      <div class="inner-wrapper">
        <div class="project panel-1">
          <h4>Product Designer · <span>2018-Today</span></h4>
          <div class="title-container">
            <h3><span class="title">Instagram Lite</span> — <span class="dek">Leave no one behind and make Instagram accessible to anyone in the world.</span></h3>
            <h5 class="number">1</h5>
          </div>

          <div class="slider">
            <div class="slide"><img src="/assets/ig/LITE-1.png"/></div>
            <div class="slide"><img src="/assets/ig/LITE-2.png"/></div>
          </div>

          <div class="info">
            <div class="col-1">
              <h4>Role</h4>
              <div class="roles">
                <h4><span>Lead Product Designer</span></h4>
              </div>

              <h4>Demos</h4>
              <div class="roles">
                <h4><span><a href="https://play.google.com/store/apps/details?id=com.instagram.lite&hl=en_US&gl=US" target="_blank">Play Store</a></span></h4>
              </div>

            </div>
            <div class="col-2">
              <h4>Overview</h4>
              <p> Instagram Lite is an Android app tailored to the needs and constraints of users in emerging markets. I led the product design and design strategy of the Instagram Lite app from 0 to 1. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="project-bg">
      <div class="inner-wrapper relative-hex">
        <a class="hex" target="_blank">#1C1C1C</a>
        <div class="project panel-1">
          <h4>Design Director · <span>2015 - 2018</span></h4>
          <div class="title-container">
            <h3><span class="title">Hodinkee</span> — <span class="dek">Building the premiere global lifestyle brand for watch collectors and luxury enthusiasts.</span></h3>
            <h5 class="number">2</h5>
          </div>

          <div class="slider">
            <div class="slide"><img src="/assets/hodinkee/h-1.jpg"/></div>
            <div class="slide"><img src="/assets/hodinkee/h-2.jpg"/></div>
            <div class="slide"><img src="/assets/hodinkee/h-3.jpg"/></div>
            <div class="slide"><img src="/assets/hodinkee/h-4.jpg"/></div>
          </div>

          <div class="info">
            <div class="col-1">
              <h4>Role</h4>
              <div class="roles">
                <h4><span>Creative Direction</span></h4>
                <h4><span>Digital Product Design</span></h4>
                <h4><span>Product Management</span></h4>
                <h4><span>Product Strategy</span></h4>
                <h4><span>Industrial & Print Design</span></h4>
              </div>

              <h4>Demos</h4>
              <div class="roles">
                <h4><span><a href="https://hodinkee.com" target="_blank">Website</a></span></h4>
                <h4><span><a href="https://itunes.apple.com/us/app/hodinkee/id1008305274?mt=8" target="_blank">iOS Apps</a></span></h4>
                <h4><span><a href="https://www.hodinkee.com/magazine" target="_blank">Hodinkee Magazine</a></span></h4>
              </div>

            </div>
            <div class="col-2">
              <h4>Overview</h4>
              <p>As Design Director, I led a team of designers and engineers to create compelling consumer-facing and internal web and iOS products for our editorial and e-commerce businesses. I established agile design and engineering processes, as well as played a key role in the development of an empathetic, user-focused, design-led company culture. I led cross-functional design and engineering teams to take products from ideas to production with support from editorial, shop & marketing departments. Additionally, I creative directed our e-commerce content, as well as oversaw and executed on our industrial design and print design efforts – including limited edition watches, in-house packaging and our bi-annual print publication, the Hodinkee magazine.</p>
            </div>
          </div>
        </div>
      </div>
    </div>



 <!--  <div class="project-bg zoom-bg">
    <div class="inner-wrapper">
      <div class="project panel-3">
        <h4>Founder · <span>2016</span></h4>
        <div class="title-container">
          <h3><span class="title">Zoom, Enhance!</span> — <span class="dek">Zoom. Gif. Repeat. Share incredibly addictive animated zooming gifs.</span></h3>
          <h5 class="number">3</h5>
        </div>

        <div class="slider">
          <div class="slide"><img src="/assets/enhance/z-1.jpg"/></div>
          <div class="slide"><img src="/assets/enhance/z-2.jpg"/></div>
        </div>

        <div class="info">
          <div class="col-1">
            <h4>Role</h4>
            <div class="roles">
              <h4><span>Co-Founder</span></h4>
              <h4><span>Product Designer</span></h4>
            </div>

            <h4>Demo</h4>
            <div class="roles">
              <h4><span><a href="https://www.producthunt.com/posts/zoom-enhance-2" target="_blank">iOS App</a></span></h4>
            </div>

          </div>
          <div class="col-2">
            <h4>Overview</h4>
            <p>There comes a time in everyone's life, a time when you notice something. Something strange about the photo you are looking at. "Wait, what.... what is that!" You noticed "it". The feeling of discovery hits you. It's hard for people to describe this "it". But one thing is always the same. You need to Zoom... Enhance... on it. Zoom, Enhance! is a simple iOS app that I designed with my long-time collaborator, Jeff Hodsdon, that allows you to share zooming gifs of photos. Just choose a photo, zoom in on it, and share a zooming gif. This highly fun app went viral for a short period of time, getting 100,000+ downloads in just a few months.</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <div class="project-bg">
    <div class="inner-wrapper">
      <div class="project panel-4">
        <h4>Design Consultant · <span>2015</span></h4>
        <div class="title-container">
          <h3><span class="title">Resy</span> — <span class="dek">Right this way. Access to a curated selection of the best restaurants in your city.</span></h3>
          <h5 class="number">3</h5>
        </div>

        <div class="slider">
          <div class="slide"><img src="/assets/resy/resy-1.gif"/></div>
          <div class="slide"><img src="/assets/resy/resy-2.gif"/></div>
          <div class="slide"><img src="/assets/resy/resy-3.jpg"/></div>

        </div>

        <div class="info">
          <div class="col-1">
            <h4>Role</h4>
            <div class="roles">
              <h4><span>Product Design</span></h4>
              <h4><span>Product Consultant</span></h4>
            </div>


            <h4>Demo</h4>
            <div class="roles">
              <h4><span><a href="https://itunes.apple.com/us/app/resy/id866163372?mt=8" target="_blank">iOS App</a></span></h4>
            </div>

          </div>
          <div class="col-2">
            <h4>Overview</h4>
            <p>Want a table tonight at Minetta Tavern at 8pm? With Resy, you can. Resy is an iPhone and Android app that makes getting the best reservations at the best tables in the city easy. This project is a collaboration between Gary Vaynerchuk (Vayner RSE) and Ben Leventhal (eater.com). I was contracted as Design Lead and tasked with taking their spark of an idea into a super easy-to-use, beautiful app. We launched in under 2 months.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="project-bg groupme-bg">
    <div class="inner-wrapper">
      <div class="project panel-5">
        <h4>Product Designer · <span>2012 - 2015</span></h4>
        <div class="title-container">
          <h3><span class="title">GroupMe</span> — <span class="dek">The best way to chat with everyone you know, available on every platform.</span></h3>
          <h5 class="number">4</h5>
        </div>

        <div class="slider">
          <div class="slide"><img src="/assets/g/g-1.jpg"/></div>
          <div class="slide"><img src="/assets/g/g-2.jpg"/></div>
        </div>

        <div class="info">
          <div class="col-1">
            <h4>Role</h4>
            <div class="roles">
              <h4><span>Product Design</span></h4>
            </div>

            <h4>Demo</h4>
            <div class="roles">
              <h4><span><a href="https://itunes.apple.com/us/app/groupme/id392796698?mt=8" target="_blank">iOS App</a></span></h4>
            </div>

          </div>
          <div class="col-2">
            <h4>Overview</h4>
            <p>GroupMe is a multi-platform messenger that was acquired by Skype in 2011. As a design lead, I helped craft a consistent experience across a number of platforms, including iOS, Android, Windows Phone and Web. I also helped art direct and introduce custom GroupMe emoji into the app.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="project-bg">
    <div class="inner-wrapper">
      <div class="project panel-4">
        <h4>Product Designer · <span>2010-2012</span></h4>
        <div class="title-container">
          <h3><span class="title">Turntable.fm</span> — <span class="dek">Play music together. An interactive way to listen to music with friends.</span></h3>
          <h5 class="number">5</h5>
        </div>

        <div class="slider">
          <div class="slide"><img src="/assets/t/t-1.jpg"/></div>
          <div class="slide"><img src="/assets/t/t-2.jpg"/></div>
        </div>

        <div class="info">
          <div class="col-1">
            <h4>Role</h4>
            <div class="roles">
              <h4><span>Product Design</span></h4>
              <h4><span>iOS Design</span></h4>
            </div>

            <h4>Demo</h4>
            <div class="roles">
              <h4><span>💀 in 2016</span></h4>
            </div>

          </div>
          <div class="col-2">
            <h4>Overview</h4>
            <p>Turntable.fm was an internet radio and social network available for Web and iOS from 2011-2013. As the sole Product Designer, I designed everything from UI, UX and Product to marketing collateral and helping produce events. The last project I led was translating the Turntable.fm addictive web experience to an iOS app.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="project-bg">
    <div class="inner-wrapper">
      <div class="project panel-4">
        <h4>Founder, Designer & Engineer · <span>2015</span></h4>
        <div class="title-container">
          <h3><span class="title">Grateful.me</span> — <span class="dek">An SMS-based Gratitude Journal designed to make you happier, everyday.</span></h3>
          <h5 class="number">7</h5>
        </div>

        <div class="slider">
          <div class="slide"><img src="/assets/grateful/g-1.jpg"/></div>
          <div class="slide"><img src="/assets/grateful/g-2.jpg"/></div>
        </div>

        <div class="info">
          <div class="col-1">
            <h4>Role</h4>
            <div class="roles">
              <h4><span>Ruby Engineer</span></h4>
              <h4><span>Product Designer</span></h4>
            </div>

            <h4>Demo</h4>
            <div class="roles">
              <h4><span>💀 in 2016</span></h4>
            </div>

          </div>
          <div class="col-2">
            <h4>Overview</h4>
            <p>Studies show that gratitude exercises (like keeping a daily gratitude journal) can reduce stress levels and gave people a greater sense of calm at night. In an effort to teach myself how to code using Ruby on Rails, I built a free, SMS-based gratitude journal service using Twilio. The service texts me once a day with a simple question: "What are you grateful for today?". My response would be recorded to my private gratitude journal, which I could recall with SMS commands. I ended up shipping this to a small group of friends, which was highly received.</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="end">
    <p>🌈</p>
    <h2>Hey, thanks for looking.</h2>
    <h3>So where do we go from here?</h3>
    <a class="btn" href="/about">Read my bio</a>
    <a class="btn" href="/">Do it again</a>
    <a class="btn" href="mailto:adamnkopec@gmail.com?subject=Hello there!"">Hang out</a>
  </div>


  </main>
</div>



  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <script type="text/javascript">

    $(function(){
      $('.slider').slick({
        dots: true,
        infinite: true,
        arrows: false,
      });

      $(document).on('click', '.slider', function() { 
        $('.slider').slick('slickNext')
      });
    });

  </script>


<!-- 
  // document.getElementById('vid').play(); 

  // var vid = document.getElementById("vid");
  // vid.loop = true; -->
  
</div>


<div class="site-footer">
  <p>©1987 until now · Kopec, Inc · New York or Nowhere</p>
</div>

