---
layout: homepage-only
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}


  {{ content }}

  <script>
    function myFunction() {
      var x = document.getElementById("learning-more");
      if (x.style.display === "block") {
          x.style.display = "none";
      } else {
          x.style.display = "block";
      }
    }
    
    function other() {
      var x = document.getElementById("button");
      if (x.innerHTML === "Learn more.") {
        x.innerHTML = "Learn less.";
      } else {
        x.innerHTML = "Learn more.";
      }
    }
  </script>



    <h2 class="intro">Adam Kopec is a multi-displinary designer from New York City, currently the Design Director at Hodinkee. He’s passionate about people, doing more with less, and building compelling products with soul. <a class="learn-more" id="button" onclick="myFunction(); other();">Learn more.</a>
    
    <div id="learning-more">
      <br>
      Previously, he was an indpendent design consultant for clients like Warby Parker, First Round Capital, & more. He’s co-created some fun apps in his spare time such as Grateful, a SMS-based gratidude Journal, Enhance!, a gif-creator and a Stacks, a fun way to send money.  More of that can be on LinkedIn.
      <br>
      <br>
      He’s passionate about building strong brands and compelling products. Believer in people, doing more with less, and building useful products with soul.
      <br>
      <br>
      He likes to write occasionally, travel, plays music, drive old cars, wear old watches. He’s inspired by archeticture, car, watch and furniture design.
      <br>
      <br>
      You should follow him on Instagram and Twitter. Or simply send him an email. He likes mail.
    </div>

    </h2>
    

  {% if site.posts.size > 0 %}
    <h2 class="post-list-heading">{{ page.list_title | default: "Select Work" }}</h2>
    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        <!-- {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span> -->
        <div class="project-info">
           <a class="post-link" href="{{ post.url | relative_url }}">
              <img src="{{ post.thumbnail }}"/>
              <h3> {{ post.title | escape }} </h3>
          </a>
          <a class="post-link client-name" href="{{ post.url | relative_url }}">
            <h3>{{ post.category | escape }}</h3>
          </a>
        </div>

        {% if site.show_excerpts %}
          {{ post.excerpt }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>

 <!--    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {% endif %}

</div>
